pre {
   overflow-x: auto;
   white-space: pre-wrap; /* css-3 */
   white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
   white-space: -pre-wrap; /* Opera 4-6 */
   white-space: -o-pre-wrap; /* Opera 7 */
   word-wrap: break-word; /* Internet Explorer 5.5+ */
}

article p {
   @apply .mb-8;
}

.dark-mode article pre {
   @apply .bg-accent-7 .p-6 .rounded-md;
}

.light-mode article pre {
   @apply .bg-accent-2 .p-6 .rounded-md;
}

ul,
ol {
   @apply .list-inside .mb-8;
   list-style: inside;
}
