:root {
   --magenta: #ff0078;
   --purple: #f81ce5;
   --violet: #7928ca;
   --cyan: #79ffe1;
   --warning: #f5a623;
   --success: #0070f3;
   --error: #e00;
   --link: #fafafa;
   --overlay: rgba(17, 17, 17, 0.315);

   --token-keyword: #ff0078;
   --token-function: #0076ff;
}

.dark-mode {
   --bg: #111;
   --fg: #fafafa;
   --bg-header: rgba(17, 17, 17, 0.8);
   --accent: var(--fg);
   --selection: hsla(0, 0%, 100%, 0.99);

   --shade: #333;
   --outline: #444;
   --low-emphasize: #666;
   --medium-emphasize: #888;
   --high-emphasize: #999;
   --higher-emphasize: #eaeaea;
   --most-emphasize: #fafafa;

   --token-string: #0cc79b;
   --inline-code: var(--purple);
}

.light-mode {
   --bg: #fafafa;
   --fg: #111;
   --bg-header: rgba(250, 250, 250, 0.8);
   --accent: var(--fg);
   --selection: hsla(0, 0%, 0%, 0.99);

   --shade: #eaeaea;
   --outline: rgb(214, 214, 214);
   --low-emphasize: #888;
   --medium-emphasize: #666;
   --high-emphasize: #444;
   --higher-emphasize: #333;
   --most-emphasize: #111;

   --token-string: #028265;
   --inline-code: #bd10e0;
}
