@tailwind base;
/* @import url('https://rsms.me/inter/inter.css'); */
/* @supports (font-variation-settings: normal) {
   html {
      font-family: 'Inter var', sans-serif;
   }
} */

/* @import './inter.css'; */
@import './colors.css';
@import './syntax-zeit.css';
@import './markdown.css';
@import './nprogress.css';

html {
   /* font-family: 'Inter', sans-serif; */
   /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
   line-height: unset;
}

/* typography preflight */
/* header */
h1 {
   @apply text-4xl font-semibold tracking-tight leading-none text-most-emphasize;
}
h2 {
   @apply text-3xl font-semibold tracking-normal leading-normal text-most-emphasize;
}
h3 {
   @apply text-2xl font-semibold tracking-normal leading-normal text-most-emphasize;
}
h4 {
   @apply text-xl font-semibold tracking-normal leading-normal;
}
h5 {
   @apply text-base font-light tracking-normal leading-normal;
}

h6 {
   @apply text-sm font-light tracking-normal leading-snug;
}

/* paragraph */
p,
li {
   @apply text-base leading-relaxed font-normal tracking-normal text-higher-emphasize;
}

/* --- */

/* Link preflight */
a:hover {
   color: var(--medium-emphasize);
   /* opacity: 0.75; */
   transition: color 0.2s ease-in-out;
}
a.decoration {
   background-image: linear-gradient(
      var(--low-emphasize),
      var(--low-emphasize)
   );
   background-size: 100% 1px;
   text-shadow: 0.1em 0 var(--bg), -0.1em 0 var(--bg);
   background-position: 0 bottom;
   padding-bottom: 0.05em;
   background-repeat: no-repeat;
}
a {
   @apply text-accent;
}

/* END OF PREFLIGHT */

@tailwind components;
@tailwind utilities;

/* Global style */
body {
   background: var(--bg);
   color: var(--fg);
   /* transition: background-color 0.3s ease; */
}

img {
   max-width: 100%;
   display: block;
}

button:focus {
   @apply outline-none .text-fg;
}

button:hover {
   @apply opacity-50 border-none .outline-none .text-fg;
}

blockquote {
   @apply .m-0 .border-fg .border-l-2 .pl-4;
   transition: border-width 0.3s ease-in-out;
}

svg {
   @apply .stroke-fg;
}

::selection {
   text-shadow: none;
   color: var(--bg);
   background-color: var(--selection);
}

nav {
   background-color: var(--bg-header);
   backdrop-filter: saturate(180%) blur(16px);

   & a {
      text-shadow: none;
      background-image: none;
   }

   & a:hover {
      color: var(--fg);
      background: none;
   }
}

footer {
   @apply .border-shade;
   & a {
      text-shadow: none;
      background-image: none;
   }

   & a:hover {
      color: var(--fg);
      background: none;
   }
}

/* toastify custom */
/** Used to define container behavior: width, position: fixed etc... **/
.Toastify__toast-container {
   @apply z-50 !important;
}

.Toastify__toast--default {
   @apply bg-bg-header rounded border border-outline !important;
   backdrop-filter: saturate(180%) blur(16px);
}

.Toastify__toast {
   @apply min-h-0 h-auto shadow-md !important;
}

.Toastify__toast-body {
   @apply m-0 p-2 text-most-emphasize text-sm !important;
}

.Toastify__progress-bar--default {
   background: var(--fg) !important;
}

/* Menu container */
/* Hide scrollbar for Chrome, Safari and Opera */
#menu-container::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE and Edge */
#menu-container {
   -ms-overflow-style: none;
}

/* Add overlay to scrollable div */
#menu-container {
   -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 20px,
      black 90%,
      transparent
   );
   -webkit-mask-image: -moz-linear-gradient(
      to right,
      transparent,
      black 20px,
      black 90%,
      transparent
   );
   @screen md {
      -webkit-mask-image: none;
   }
}

/* kistune on scroll style */
#kitsune {
   @apply flex-shrink-0 py-2 leading-relaxed text-fg font-semibold items-center transition-all transform scale-125 translate-x-4 duration-300 ease-in-out;
}
#kitsune.to-center {
   @apply ease-in-out transform translate-y-0 transition-all duration-300;
}
