@tailwind base;
/* @import url('https://rsms.me/inter/inter.css'); */
/* @supports (font-variation-settings: normal) {
   html {
      font-family: 'Inter var', sans-serif;
   }
} */

@import './colors.css';
@import './inter.css';
@import './syntax-zeit.css';
@import './markdown.css';
@import './nprogress.css';

html {
   font-family: 'Inter', sans-serif;
}

h1 {
   @apply text-4xl font-medium tracking-tight leading-none;
}
h2 {
   @apply text-3xl font-semibold tracking-normal leading-normal;
}
h3 {
   @apply text-2xl font-semibold tracking-normal leading-normal;
}
h4 {
   @apply text-lg font-light tracking-normal leading-normal;
}

p,
li {
   @apply text-xl font-light tracking-normal leading-loose;
}

/* Link preflight */
a:hover {
   color: var(--link);
   background: var(--accent);
   /* transition: background-size 0.3s; */
   background-size: 4px 100%;
}

a {
   background: linear-gradient(
      to bottom,
      var(--medium-emphasize) 0%,
      var(--medium-emphasize) 100%
   );
   background-position: 0 100%;
   background-repeat: repeat-x;
   background-size: 4px 1px;
   text-decoration: none;
   /* transition: background-size 0.3s; */
   text-decoration: none;
}

@tailwind components;
@tailwind utilities;

/* Global style */
body {
   background: var(--bg);
   color: var(--fg);
   /* transition: background-color 0.3s ease; */
}

img {
   max-width: 100%;
   display: block;
}

button:focus {
   @apply .bg-shade .border-none .outline-none .text-fg;
}

blockquote {
   @apply .m-0 .border-fg .border-l-2 .pl-4;
   transition: border-width 0.3s ease-in-out;
}

blockquote:hover {
   @apply .border-accent border-l-8 cursor-pointer select-all;
   transition: border-width 0.3s ease-in-out;
}

svg {
   @apply .stroke-fg;
}

h1,
h2,
h3 {
   @apply text-most-emphasize;
}

p {
   @apply text-higher-emphasize;
}

button:hover,
button:focus {
   @apply .bg-shade;
}

::selection {
   text-shadow: none;
   color: var(--bg);
   background-color: var(--selection);
}

nav {
   background-color: var(--bg-header);
   backdrop-filter: saturate(180%) blur(5px);

   & a {
      background-image: none;
   }

   & a:hover {
      color: var(--link);
   }
}

footer {
   @apply .border-outline transition-colors duration-300;
   & a {
      background-image: none;
   }

   & a:hover {
      color: var(--fg);
      background: none;
   }
}
