pre {
   overflow-x: auto;
   white-space: pre-wrap; /* css-3 */
   white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
   white-space: -pre-wrap; /* Opera 4-6 */
   white-space: -o-pre-wrap; /* Opera 7 */
   word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* -webkit-user-select: all;
-moz-user-select: all;
-ms-user-select: all;
user-select: all; */

article p {
   @apply .mb-8 .break-words;
}

article h2,
article h3,
article h4 {
   @apply .mb-4 .pt-8;
}

article pre {
   @apply border-outline border .rounded-md -mt-4 mb-12 p-4;
   overflow: auto;
}

p > code {
   color: var(--inline-code);
   @apply text-sm mx-2;
}

:not(pre) > code:after,
:not(pre) > code:before {
   content: '\`';
   color: var(--inline-code);
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

article ul {
   @apply .list-inside .mb-8;
   padding: 0;
   list-style-type: circle;
}

article ol {
   padding: 1rem;
   list-style-position: outside;
}

article ul li.reset {
   display: flex;
   align-items: flex-start;
   list-style-type: none;
   @apply mb-2;
}

article ul li.reset .check {
   display: flex;
   align-items: center;
   margin-right: 1rem;
}

input[type='checkbox'] {
   vertical-align: middle;
   appearance: none;
   display: inline-block;
   background-origin: border-box;
   user-select: none;
   flex-shrink: 0;
   height: 1rem;
   width: 1rem;
   background-color: var(--bg);
   color: white;
   border: 1px solid var(--fg);
   border-radius: 3px;
}

input[type='checkbox']:checked {
   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white'  xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
   border-color: transparent;
   background-color: var(--bg);
   background-size: 100% 100%;
   border: 1px solid var(--fg);
   background-position: center;
   background-repeat: no-repeat;
}

.light-mode input[type='checkbox']:checked {
   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

input[type='checkbox']:focus {
   outline: none;
   box-shadow: 0 0 0 2px gray;
   border-color: var(--fg);
}
